<button id="taskAddFormButton" style="vertical-align: middle">
  <span>Create a Task</span>
</button>
<div id="overlay"></div>
<form action="/tasks" method="post" id="taskAddForm">
  <div class="formContainer">
    <h2>Add a New Task</h2>
    <label for="addNewTaskTitleInput">Title:</label>
    <input
      type="text"
      name="title"
      id="addNewTaskTitleInput"
      placeholder="Enter a Title"
    />
    <button type="submit">Submit</button>
  </div>
</form>
