<button id="editTaskFormButton" style="vertical-align: middle">
  <span>Edit Task</span>
</button>
<form
  action="/tasks/<%= task._id %>?_method=PUT"
  method="post"
  id="editTaskForm"
>
  <div class="formContainer">
    <h2>Edit Task</h2>
    <label for="editTaskFormInput">Title: </label>
    <input type="text" name="title" id="editTaskFormInput" value="<%= task.title %>" required />
    <button type="submit">Submit</button>
  </div>
</form>
