<nav>
  <!-- dropdown -->
  <div class="dropdown">
    <span id="dropdownHeader">Select a Task</span>
    <div class="dropdown-content">
      <% for(let task of tasks){ %>
      <a href="tasks/<%= task._id %>"><%= task.title %></a>
      <% } %>
    </div>
  </div>

  <!-- add task -->
  <%- include('addTaskForm') %>

  <!-- logout  -->
  <%- include('logout') %>
</nav>
